extends ../layout

block body
  .panel
    .header
      span.topic_full_title
        | #{task.title}
      .changes
        p 发布于
          span.last_active_time(data-date=task.createdAt.toJSON())
      .changes
        p 最后更新于
          span.last_active_time(data-date=task.updatedAt.toJSON())
      if userid == task.publisherId
        .manage_topic
          a(href='/task/modi/'+task.id)
            img.user_icon(src='http://cnodejs.qiniudn.com/public/images/doc_edit_icon&16.png', title='编辑')
    .inner.topic
      .topic_content
        .markdown-text
          p
            | #{task.descp}
          p
            | 雇主联系方式
            | 电话:#{task.publisherPhone}
            | 邮箱:#{task.publisherEmail}
      if userid == task.publisherId
        if task.accepterId == null
          .editor_buttons
            a#submit_btn.btn.btn-danger(href='/task/delete/'+task.id) 删除任务
        else if task.isFinish
          .editor_buttons
            button#submit_btn.btn.btn-primary(disabled="true") 已终结
        else if task.accepterId != null
          .editor_buttons
            a#submit_btn.btn.btn-primary(href='/task/end/'+task.id) 终结任务
      else if admin
        .editor_buttons
          a#submit_btn.btn.btn-danger(href='/task/delete/'+task.id) 删除任务
      else if !username && !admin
        .editor_buttons
          button#submit_btn.btn.btn-danger(disabled="true") 请先登录
      else if task.accepterId == null
        .editor_buttons
          a#submit_btn.btn.btn-primary(href='/task/accept/'+task.id) 接受任务
      else if task.accepterId == userid
        .editor_buttons
          button#submit_btn.btn.btn-primary(disabled="true") 你已接受该任务
      else if task.accepterId != null
        .editor_buttons
          button#submit_btn.btn.btn-danger(disabled="true") 已给抢先一步